/* สไตล์สำหรับปุ่ม "Add to Cart" */
.add-to-cart {
  background-color: #561c24;
  /* สีแดงเข้มที่เหมือนกันกับโทนของเว็บไซต์ */
  color: rgb(254, 199, 199);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-to-cart:hover {
  background-color: #d8c1b0;
  /* สีอ่อนกว่าตอน hover */
}

/* สไตล์สำหรับ select (ปุ่มเลือกระดับความหวาน) */
.sweetness-container {
  margin-bottom: 15px;
}

.sweetness-container label {
  font-weight: bold;
  margin-right: 10px;
  font-size: 14px;
  color: #561c24;
  /* ใช้โทนสีเดียวกับเว็บไซต์ */
}

.sweetness-level {
  width: 120px;
  padding: 8px 12px;
  font-size: 14px;
  border: 2px solid #d8d6d6;
  /* สีขอบเดียวกับการตกแต่ง */
  border-radius: 5px;
  background-color: #feece2;
  /* สีพื้นหลังที่เหมือนกันกับผลิตภัณฑ์ */
  color: #561c24;
  /* ใช้สีเดียวกับ label */
  transition: all 0.3s ease;
}

.sweetness-level:hover {
  border-color: #fac6ab;
  /* เปลี่ยนสีขอบตอน hover */
  background-color: #f6e2d7;
  /* พื้นหลังอ่อนขึ้น */
}

.sweetness-level:focus {
  outline: none;
  border-color: #561c24;
  /* ขอบสีเข้มเมื่อโฟกัส */
  background-color: #f6e2d7;
}

/* สไตล์สำหรับการเลือกตัวเลือกใน select */
.sweetness-level option {
  font-size: 14px;
  padding: 10px;
  background-color: #feece2;
  color: #561c24;
}

.sweetness-level option:hover {
  background-color: #feece2;
}

/* สไตล์สำหรับสินค้า */
.product {
  background-color: #feece2;
  border: 1px solid #f5ecec;
  padding: 15px;
  margin: 10px;
  margin-bottom: 20px;
  border-radius: 15px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.product img,
.product h5,
.product button {
  display: block;
  margin: 0 auto;
}

.product:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.product:hover img {
  transform: scale(1.1);
}

.product h5 {
  margin-top: 5px;
}

header nav {
  height: 15vh;
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  font-size: 45px;
  color: #561c24;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 5px;
}

header ul {
  display: flex;
  gap: 5rem;
  list-style: none;
}

header a {
  display: block;
  color: #561c24;
  text-decoration: none;
  border-radius: 0.2rem;
  padding: 0.5rem 1rem;
  transition: 0.2s ease-in;
  border-bottom: 2px solid #feece2;
  overflow: hidden;
  position: relative;
}

header a::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 0.1rem;
  z-index: -1;
  transition: 0.2s ease-in;
  transform: translateX(-101%);
  background: #fac6ab;
}

header a:hover::before {
  transform: translateX(0);
}

header a:hover {
  color: rgb(255, 209, 209);
}